<section class="legend">

    <div class="item">
        <label for="first">First:</label>
        <input id="first" type="number" ng-model="donutModel[0]" />
    </div>

    <div class="item">
        <label for="second">Second:</label>
        <input id="second" type="number" ng-model="donutModel[1]" />
    </div>

    <div class="item">
        <label for="third">Third:</label>
        <input id="third" type="number" ng-model="donutModel[2]" />
    </div>

    <div class="item">
        <label for="fourth">Fourth:</label>
        <input id="fourth" type="number" ng-model="donutModel[3]" />
    </div>

    <div class="item">
        <label for="fifth">Fifth:</label>
        <input id="fifth" type="number" ng-model="donutModel[4]" />
    </div>

    <div class="item modify-all" ng-click="modifyValues()">
        Modify All!
    </div>

</section>